<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.genntii.mkdir.mapper.ArticleCategoryMapper">
    <insert id="insertBatch" parameterType="list">
        INSERT INTO article_category
        (id, article_id, category_id, create_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.articleId}, #{item.categoryId}, #{item.createTime})
        </foreach>
    </insert>
</mapper>