<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.genntii.mkdir.mapper.ArticleMapper">
    <select id="getArticleListById" parameterType="list" resultType="org.genntii.mkdir.domain.vo.ArticleInfoVO">
        select id, cover_id, title, introduction, update_time
        from article
        where status = 1 and id in
        <foreach collection="articleIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        order by update_time desc
    </select>
    
    <select id="queryArticle" resultType="org.genntii.mkdir.domain.vo.ArticleInfoVO">
        select id, cover_id, author, title, introduction, update_time
        from article
        <where>
            <if test="keyword != null and keyword != ''">
                AND title like concat('*', #{keyword}, '*')
            </if>
            <if test="userId != null and userId != 0L ">
                AND author = #{userId}
            </if>
        </where>
        ORDER BY create_time DESC
        limit #{index}, #{size}
    </select>
</mapper>